{% extends "layout.html" %}
{% block title %} Home {% endblock %}


{% block content %}

<div class="col-md-12 mx-auto">
    <div class="content-wrapper">

        <h2 style="padding-left: 30px">Eventos atuais</h2>

        <section class="content">
            <div class="container-fluid">
                <div class="row-2">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <table class="table" size="padding: 8em">
                                    <thead class="p-3 mb-2 bg-danger text-white">
                                        <tr>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Data Início</th>
                                            <th scope="col">Data Fim</th>
                                            <th scope="col">Estado atual</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for e in events %}
                                        <tr>
                                            <td>
                                                {{ e.name }}
                                            </td>
                                            <td>
                                                {{ e.start_date }}
                                            </td>
                                            <td>
                                                {{ e.end_date }}
                                            </td>
                                            <td>
                                                {% if e.state == "0" %}
                                                Ativo
                                                {% elif e.state == "1" %}
                                                A Decorrer
                                                {% elif e.state == "2" %}
                                                Concluido
                                                {% elif e.state == "3" %}
                                                Suspenso
                                                {% elif e.state == "4" %}
                                                Cancelado
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if e.state == "0" %}
                                                <div class="row" style="padding-top: 20px; margin-left: 40px ">
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#"><button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-play"></i>
                                                            </button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i
                                                                    class="fas fa-flag-checkered"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=3)}}">
                                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-pause"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=4)}}"><button
                                                                type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-ban"></i></button></a>
                                                    </div>
                                                </div>
                                                {% elif e.state == "1" %}
                                                <div class="row" style="padding-top: 20px; margin-left: 40px ">
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#"><button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-play"></i>
                                                            </button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=2)}}">
                                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-flag-checkered"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-pause"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=4)}}">
                                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-ban"></i></button></a>
                                                    </div>
                                                </div>
                                                {% elif e.state == "3" %}
                                                <div class="row" style="padding-top: 20px; margin-left: 40px ">
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=0)}}"><button
                                                                type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-play"></i>
                                                            </button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=2)}}">
                                                            <button type="button" class="btn btn-sm btn-danger"><i
                                                                    class="fas fa-flag-checkered"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-pause"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="{{url_for('event', event_id=e.id, status=4)}}">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                ><i class="fas fa-ban"></i></button></a>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="row" style="padding-top: 20px; margin-left: 40px ">
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#"><button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-play"></i>
                                                            </button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i
                                                                    class="fas fa-flag-checkered"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-pause"></i></button></a>
                                                    </div>
                                                    <div class="button text-center"
                                                        style="padding-left: 10px; padding-bottom: 10px">
                                                        <a href="#">
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                disabled><i class="fas fa-ban"></i></button></a>
                                                    </div>
                                                </div>
                                                {% endif %}

                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}>