{% extends "layout.html" %}
{% block title %} Home {% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="content-wrapper">


      <section class="content-header" style="padding-top:20px ">
        <div class="row">
          <h2 style="padding-left: 30px">Apostas</h2>
          <div class="col-2.5" style="align-self: flex-end; padding-left:30px">
            <div big class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ sport_name }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for s in sports %}
                <a class="dropdown-item" href="{{ url_for('bets', sport_id=s.id, competition_id=-1) }}">{{ s.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-3" style="align-self: flex-end;">
            <div big class="dropdown">
              <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if competition_id != "-1" %}
                {{ competition_name }}
                {% else %}
                Competições
                {% endif %}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('bets', sport_id=sport_id, competition_id=-1) }}">Tudo</a>
                {% for c in competitions %}
                <a class="dropdown-item"
                  href="{{ url_for('bets', sport_id=sport_id, competition_id=c.id) }}">{{ c.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="content" style="padding-top:20px ">
        <div class="container-fluid">
          <div class="row-2">
            <div class="card">
              <div class="card-header">
                {% if events %}
                <table class="table" size="padding: 8em">
                  {% if sport_id == "0" %}
                  <thead class="p-3 mb-2 bg-danger text-white">
                    <tr>
                      <th scope="col">Equipa 1</th>
                      <th scope="col">Equipa 2</th>
                      <th>Odd</th>
                      <th scope="col">Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ee, odd, p in events %}
                    <tr>
                      <td>{{ p[0].name }}</td>
                      <td>{{ p[1].name }}</td>
                      <td>

                        {% for i in range(3) %}
                        {% if odd[i].id in bet_odds['odd_ids'] %}
                        <div class="btn-group">
                          <a href="{{ url_for('remove_odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[i].id) }}"
                            class="btn btn-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[i].value }}
                          </a>
                        </div>
                        {% else %}
                        <div class="btn-group">
                          <a href="{{ url_for('odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[i].id) }}"
                            class="btn btn-outline-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[i].value }}
                          </a>
                        </div>
                        {% endif %}
                        {% endfor %}



                      </td>
                      <td>{{ ee.start_date }}</td>
                    </tr>

                    {% endfor %}
                  </tbody>
                  {% elif sport_id == "1" %}
                  <thead class="p-3 mb-2 bg-danger text-white">
                    <tr>
                      <th scope="col">Corredor</th>
                      <th scope="col">Corrida</th>
                      <th>Odd</th>
                      <th scope="col">Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ee, odd, p in events %}
                    {% for i in range(20) %}
                    <tr>
                      <td>{{ p[i].name }}</td>
                      <td>{{ ee.name }}</td>
                      <td>

                        {% if odd[i].id in bet_odds['odd_ids'] %}
                        <div class="btn-group">
                          <a href="{{ url_for('remove_odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[i].id) }}"
                            class="btn btn-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[i].value }}
                          </a>
                        </div>
                        {% else %}
                        <div class="btn-group">
                          <a href="{{ url_for('odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[i].id) }}"
                            class="btn btn-outline-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[i].value }}
                          </a>
                        </div>
                        {% endif %}

                      </td>
                      <td>{{ ee.start_date }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                  {% elif sport_id == "2" %}
                  <thead class="p-3 mb-2 bg-danger text-white">
                    <tr>
                      <th scope="col">Jogador 1</th>
                      <th scope="col">Jogador 2</th>
                      <th>Odd</th>
                      <th scope="col">Data</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ee, odd, p in events %}
                    <tr>
                      <td>{{ p[0].name }}</td>
                      <td>{{ p[1].name }}</td>
                      <td>
                        {% if odd[0].id in bet_odds['odd_ids'] %}
                        <div class="btn-group">
                          <a href="{{ url_for('remove_odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[0].id) }}"
                            class="btn btn-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[0].value }}
                          </a>
                        </div>
                        {% else %}
                        <div class="btn-group">
                          <a href="{{ url_for('odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[0].id) }}"
                            class="btn btn-outline-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[0].value }}
                          </a>
                        </div>
                        {% endif %}

                        {% if odd[1].id in bet_odds['odd_ids'] %}
                        <div class="btn-group">
                          <a href="{{ url_for('remove_odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[1].id) }}"
                            class="btn btn-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[1].value }}
                          </a>
                        </div>
                        {% else %}
                        <div class="btn-group">
                          <a href="{{ url_for('odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[1].id) }}"
                            class="btn btn-outline-danger">
                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i> {{ odd[1].value }}
                          </a>
                        </div>
                        {% endif %}

                      </td>
                      <td>{{ ee.start_date }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                  {% endif %}
                </table>
                {% else %}
                <h5>Não tem eventos disponíveis de {{ sport_name }}</h5>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="col-md-23 mx-auto">
    <div class="header">
      <h3>Carrinho</h3>
    </div>
    <div class="content-section">
      <p class='text-muted'>Apostas Selecionadas
        <ul class="list-group">
          {% for odd in bet_odds['bet_odds'] %}
          <li class="list-group-item list-group-item-light">
            <div class="row">
              <div class="col-sm-6">
                <div class="float-sm-left">
                  <div class="small text-muted">
                    <h6>{{ odd[1]}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="float-sm-right">
                  <a
                    href="{{ url_for('remove_odd', sport_id=sport_id, competition_id=competition_id, odd_id=odd[0].id) }}"><button
                      class="btn btn-light btn-sm" type="button">X</button>
                  </a>
                </div>
              </div>
            </div>
            <div class="small text-muted">ODD: {{ odd[0].value }}</div>
            <div class="small text-muted">Aposta: {{odd[2]}}</div>
          </li>
          {% endfor %}
        </ul>
      </p>
      <p class="text-muted-dark"> Odd total: {{ bet.odd|round(2) }}</p>
      <div class="footer">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <div class="form-group">
              {{ form.value.label(class="form-control-label") }}

              {% if form.value.errors %}
              {{ form.value(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.value.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.value(class="form-control form-control-lg") }}
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.currency_id.label(class="form-control-label") }}

              {% if form.currency_id.errors %}
              {{ form.currency_id(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.currency_id.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.currency_id(class="form-control form-control-lg") }}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group button text-center">
            {{ form.submit(class="btn btn-danger") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}