{% extends "layout.html" %}
{% block content %}
<div class="col-md-8 mx-auto">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <section class="content-header">
                    <div class="row">
                        <div class="col-6" style="align-self: flex-end;">
                            <legend class="border-bottom mb-4">Levantar</legend>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-sm-right">
                              <a href="##" onClick="history.go(-1); return false;"><button class="btn btn-danger" type="button">voltar</button></a>
                            </div>
                        </div>
                    </div>
                  </section>
                
                <div class="form-group">
                    {{ form.value.label(class="form-control-label") }}

                    {% if form.value.errors %}
                        {{ form.value(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.value.errors %}
                             <span>{{ error }}</span>
                             {% endfor %}
                        </div>
                    {% else %}
                        {{ form.value(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.currency_id.label(class="form-control-label") }}

                    {% if form.currency_id.errors %}
                        {{ form.currency_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for currency_id in form.currency_id.errors %}
                             <span>{{ error }}</span>
                             {% endfor %}
                        </div>
                    {% else %}
                        {{ form.currency_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-danger") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}