{% extends "layout.html" %}
{% block content %}
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Bem-Vindo à RASBET</h1>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn-get-started" href="{{ url_for('bets', sport_id=0, competition_id=-1) }}" >Comece a Apostar</a>
    </div>
</section><!-- End Hero Section -->

<div class="text-center">
    <h1 class="display-4">As melhores apostas são as que faz conosco</h1>
    <div class="text-center display-1">
        RASBET
    </div>
</div>



{% endblock %}