{% extends "layout.html" %}
{% block title %} Home {% endblock %}


{% block content %}


<div class="content-wrapper">

  <h2>RasBet</h2>

  <!-- Content Header (Page header) -->
  <section class="content-header" style="padding-top:20px ">
  <div class="row">
      <div class="col-6" style="align-self: flex-end;">
        <div big class="dropdown">
          <button class="btn btn-warning dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Futebol
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for c in competitions[0] %}
              <a class="dropdown-item" href="#">{{ c }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </section>


  <section class="content" style="padding-top:20px ">
      <div class="container-fluid">
          <!-- /.row -->
          <div class="row-2">
              <div class="col-12">
                  <div class="card">
                      <!-- /.card-header -->
                      <div class="card-header">

                          <table class="table" size="padding: 8em">
                              <thead class="p-3 mb-2 bg-danger text-white">
                                <tr>
                                  <th scope="col">Equipa 1</th>
                                  <!-- <th scope="col">Vitoria 1</th>
                                  <th scope="col">Empate</th>
                                  <th scope="col">Vitoria 2</th> -->
                                  <th>Odd</th>
                                  <th scope="col">Equipa 2</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Benfica</td>
                                  <!-- <td>0.9</td>
                                  <td>0.32</td>
                                  <td>3.0</td> -->
                                  <td>
                                      
                                      
                                  <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                              0.3
                                  </button>
                                  <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    2.3
                                  </button>
                                  <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                  1.5
                                  </button>
                                        
                                  </td>
                                  <td>Porto</td>
                                </tr>
                                <tr>
                                  <td>Benfica</td>
                                  <!-- <td>0.9</td>
                                  <td>0.32</td>
                                  <td>3.0</td> -->
                                  <td>
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                          0.3
                                      </button>
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                          2.3
                                      </button>
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                      1.5
                                      </button>
                                    
                                  </td>
                                  <td>Porto</td>
                                </tr>

                              </tbody>
                            </table>
                            
  
                      </div>
                   </div>
                </div>
           </div>
        </div>
  </section>







  <section class="content-header" style="padding-top:20px ">
    <div class="row">
        <div class="col-6" style="align-self: flex-end;">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tenis
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for c in competitions[2] %}
              <a class="dropdown-item" href="#">{{ c }}</a>
            {% endfor %}
            </div>
          </div>
        </div>
  
      </div>
    </section>
  
    <section class="content" style="padding-top:20px ">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row-2">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-header">
  
                            <table class="table" size="padding: 8em">
                                <thead class="p-3 mb-2 bg-danger text-white">
                                  <tr>
                                    <th scope="col">Equipa 1</th>
                                    <!-- <th scope="col">Vitoria 1</th>
                                    <th scope="col">Empate</th>
                                    <th scope="col">Vitoria 2</th> -->
                                    <th>Odd</th>
                                    <th scope="col">Equipa 2</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Benfica</td>
                                    <!-- <td>0.9</td>
                                    <td>0.32</td>
                                    <td>3.0</td> -->
                                    <td>
                                        
                                        
                                    <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                0.3
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                      2.3
                                    </button>
                                    <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                    1.5
                                    </button>
                                          
                                    </td>
                                    <td>Porto</td>
                                  </tr>
                                  <tr>
                                    <td>Benfica</td>
                                    <!-- <td>0.9</td>
                                    <td>0.32</td>
                                    <td>3.0</td> -->
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                            0.3
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                            2.3
                                        </button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        1.5
                                        </button>
                                      
                                    </td>
                                    <td>Porto</td>
                                  </tr>
  
                                </tbody>
                              </table>
                              
    
                        </div>
                     </div>
                  </div>
             </div>
          </div>
    </section>








    <section class="content-header" style="padding-top:20px ">
      <div class="row">
          <div class="col-6" style="align-self: flex-end;">
            <div class="dropdown">
              <button class="btn btn-warning dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Formula 1
              </button>
              {% for c in competitions[1] %}
              <a class="dropdown-item" href="#">{{ c }}</a>
            {% endfor %}
            </div>
          </div>
    
        </div>
      </section>
    
      <section class="content" style="padding-top:20px ">
          <div class="container-fluid">
              <!-- /.row -->
              <div class="row-2">
                  <div class="col-12">
                      <div class="card">
                          <!-- /.card-header -->
                          <div class="card-header">
    
                              <table class="table" size="padding: 8em">
                                  <thead class="p-3 mb-2 bg-danger text-white">
                                    <tr>
                                      <th scope="col">Equipa 1</th>
                                      <!-- <th scope="col">Vitoria 1</th>
                                      <th scope="col">Empate</th>
                                      <th scope="col">Vitoria 2</th> -->
                                      <th>Odd</th>
                                      <th scope="col">Equipa 2</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Benfica</td>
                                      <!-- <td>0.9</td>
                                      <td>0.32</td>
                                      <td>3.0</td> -->
                                      <td>
                                          
                                          
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                                  0.3
                                      </button>
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        2.3
                                      </button>
                                      <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                      1.5
                                      </button>
                                            
                                      </td>
                                      <td>Porto</td>
                                    </tr>
                                    <tr>
                                      <td>Benfica</td>
                                      <!-- <td>0.9</td>
                                      <td>0.32</td>
                                      <td>3.0</td> -->
                                      <td>
                                          <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                              0.3
                                          </button>
                                          <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                              2.3
                                          </button>
                                          <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                                          1.5
                                          </button>
                                        
                                      </td>
                                      <td>Porto</td>
                                    </tr>
    
                                  </tbody>
                                </table>
                                
      
                          </div>
                       </div>
                    </div>
               </div>
            </div>
      </section>






</div>

{% endblock %}>